@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --Primarycolor: #bc9e54;
    --secondarycolor:#641c12;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-image: url("/Images/pexels-tom-fisk-6186414.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.row{
height: 100%;
align-items: center;
justify-content: center;
}

.card-title{
    font-weight: bold;
}



.logincard{
height: 500px;
width: 500px;
}
.card{
    width: 30rem;
    margin: 20px;
    padding-top: 20px;
    position: relative;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.card-img-top{
    width: 100%;
    max-width: 100px;
    align-self: center;
}
.loginform .form-control{
    margin: 30px 0;
}

.loginform input[type='text'],
.loginform input[type='password']{
    border: none;
    border-bottom: 1px solid var(--Primarycolor);
}

.loginform input:focus,
.loginform input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.card-title{
    font-weight: bolder;
    font-size:x-large; 
}

@media (max-width: 500px) {
    .card{
        width: 350px;       
        margin: auto;
        position: relative;
        bottom: 40px;
    }
  }
  .container{
    height: 100vh; /* You must set a specified height */
  }